.App {
  text-align: center;
}

.container {
  padding: 20px 0px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctr-add-todos {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 20px;
  border: 1px dotted grey;
}
.add-todos-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
.add-todos-input {
  margin-bottom: 15px;
}
add-todos-action */

.ctr-detail .detail-description {
  font-size: 24px;
}

.ctr-detail .detail-created-date {
  font-size: 14px;
  color: #888;
}

.todos {
  display: flex;
  gap: 15px;
}

.todos-wrapper {
  flex: 1;
}

.todos-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.todos-action {
  display: flex;
  gap: 10px;
}